.menu_bar{
    background: var(--cinza-escuro);
    width: calc(100vw);
    height: 25px;
    display: flex;
    justify-content: space-between;
    
}

.menu_logo{
    font-family: 'Roboto', sans-serif;
    color: var(--cinza-logo);
    font-size: .85rem;
    margin-left: 11px;
    margin-top: 3px;
    font-weight: bold;
}