*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--cinza-escuro);
}

.principal{ 
    background-color: var(--cinza-claro);
    width: calc(100vw);
    height: calc(100vh);
}

.sidebar_main{
    background-color: var(--cinza-medio);
    width: 241.18px;
    height: 100vw;
    margin-left: 70px;
}