

.sidebar{
    align-items: center;
    background-color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    justify-content: flex-start;
    left: 0;
    position: fixed;
    width: 70px;
}

.sidebar__my_icon{
    border-radius: 25%;
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 11px;
}

.sidebar__header{
    display: flex;
    
}

.division_bar{
    border-bottom: 2.3px solid var(--cinza-medio);
    align-items: center;
    width: 30px;
}
